.frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f0f0f0;
}

.main_frame {
    /* padding-bottom: 50px; */
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background-color: #e2efa2;
}

.main_frame .left_frame{
    width: 305px;
    height: 1315px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.main_frame .middle_frame{

    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}

.main_frame .right_frame{
    width: 80px;
  height: 1315px;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
.main_frame .left_frame .left-1 {
    width: 228px;
    height: 267px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main_frame .left_frame .left-1_img {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}
.main_frame .left_frame .left-1_name {

width: 66.63px;

height: 20.9px;

margin-bottom: 6.65px;

/* H4 - 18px */

font-family: sans-serif;

font-style: normal;

font-weight: 500;

font-size: 18px;

line-height: 123.6%;

/* or 22px */

display: flex;

justify-content: center;

align-items: center;

text-transform: capitalize;

/* Black */

color: #2b2b2b;
}
.main_frame .left_frame .left-1_job {
width: 147.84px;
height: 25.65px;
display: flex;
justify-content: center;
align-items: center;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
font-feature-settings: 'calt' off, 'kern' off;
color: #767676;
}
.left_icons {
    width: 238px;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.link_hrefi{
    text-decoration: none;
    color: inherit;
}
.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background: rgb(219, 219, 150);
}
.icon_1 {
    position: relative;
    left: 29.17%;   
    right: 27.08%;
    margin-top: 5.86px;
}
.main_frame .left_frame .left-2 {
display: flex;
flex-direction: column;
gap: 9px;
width: 221px;
height: 126px;
margin-left: 44px;
/* background-color: aqua; */
}
.left-2_data_left {
    background-color: #FFB400;
    padding: 2px 5px;
}
.left-2_data {

/* position: relative; */
display: flex;
align-items: center;
justify-content: space-between;
/* flex-direction: row; */
/* width: 46.209px;
height: 24px; */
/* background-color: #FFB400; */
}
.left-2_data_right1 {
    display: flex;
    flex-direction: flex-end;
}
.main_frame .left_frame .marginer {
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #C4C4C4;
}
.main_frame .left_frame .left-3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
}
.lan_css {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.main_frame .left_frame .left-4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
}
/* .main_frame .left_frame .left-5 {
display: flex;
justify-content: space-between
} */
 .left_skills {
    color: var(--Black, #2B2B2B);

/* H4 - 18px */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 123.6%; /* 22.248px */
text-transform: capitalize;
 }
.main_frame .left_frame .left-5 {
    position: relative;
    width: 186px;
    height: 140px;
    margin-top: 25px;
    margin-left: 45px;
    /* margin-bottom: 115px; */
    /* background-color: aqua; */
}
.left-6 {
    display: flex;
    justify-content: center
}
.left_language_1 {

    margin-bottom: 15px;
}
.download_cv_btn {
   width: 220px;
height: 40px;
background: var(--Yellow, #FFB400);
}
.iconn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.slider {
    /* margin-bottom: 10px; */
    padding: 0 2px;
    display: flex;
    align-items: center;
    width: 220px;
    height: 4px;
    border-radius: 30px;
    border: 0.5px solid var(--Yellow, #FFB400);
}
.inside_slider {

height: 2px;
background-color: #FFB400;
border-radius: 30px;
}
.top_frame {
    width: 970px;
    height: 467px;
    background-color: #ffffff;
    display: flex;
    /* margin-bottom: 20px; */
}
.text {
    position: relative;
    width: 343px;
    height: 24px;
    margin-top: 93px;
    margin-left: 60px;
    /* H3 - 20px */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */
    display: flex;
    align-items: center;
    text-transform: capitalize;
    /* Black */
    color: #2b2b2b;
}
.top_lorem {
position: relative;
display: flex;
/* align-items: center; */
/* justify-content: center; */
margin-left: 60px;
width: 424px;
height: 88px;
/* background-color: aqua; */
}
.text_2 {
    position: relative;
    width: 910px;
    height: 96px;
    margin-top: 18px;
    margin-left: 5px;
    /* Body - 16px */
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    display: flex;
    align-items: center;
    /* Black */
    color: #2b2b2b;
}
.top_img {
    position: absolute;
    display: flex;
    margin-left: 57.6px;
    margin-top: 8px;
}
.top_title {
position: absolute;
margin-left: 60px;
margin-top: 20px;
display: flex;
padding: 16px 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #f59416;
}

.top_frame .left {
    /* border: 1px solid #0f0c0c; */
    padding: 93px 60px;
}
.left h1 {
    width : 500px;
    color: var(--Black, #2B2B2B);
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 123.6%; /* 59.328px */
}
.left p {
    width: 424px;
height: 88px;
    color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;

/* H6 - 16px */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
text-transform: capitalize;
}
.left button {
 display: flex;
padding: 16px 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: var(--Yellow, #FFB400);
}

.buttom_frame {
 display: flex;
 align-items: center;
    flex-direction: column;
    margin-top: 140px;
}
.service_box {
    padding-top:    28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
width: 310px;
height: 225px;
background-color: #ffffff;
}
.first_row {
    display: flex;
    gap: 20px;
    /* margin-top: 20px; */
}
.second_row {
    display: flex;
  margin-top: 20px;
  gap: 20px;
}
.buttom_frame h1 {
    color: var(--Black, #2B2B2B);

/* H2 - 32px */
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
/* line-height: 123.6%; 39.552px */
text-transform: capitalize;
}
.buttom_frame .p_lorem {
    width: 438px;
height: 68px;
color: var(--Paragraph-Font, #767676);
text-align: center;
font-kerning: none;
font-feature-settings: 'calt' off;

/* P-15px paragraph */
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
/* line-height: 24px; 160% */
text-transform: capitalize;
}

.service_box h3 {
    color: var(--Black, #2B2B2B);

/* H4 - 18px */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
/* line-height: 123.6%; 22.248px */
text-transform: capitalize;
}

.service_box p {
color: var(--Paragraph-Font, #767676);
text-align: center;
font-kerning: none;
font-feature-settings: 'calt' off;

/* Paragraph Progress - 15 */
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
/* line-height: 24px; 160% */
text-transform: capitalize;
}
.right_frame {
    display: flex;
}
.Contrast_icon {
width: 30px;
height: 30px;
flex-shrink: 0;
margin-top: 50px;
}
.Home_icon {
    width: 18px;
height: 18px;
flex-shrink: 0;
margin-top: 223px;
}
.File_icon {
width: 16.5px;
height: 18px;
fill: var(--Paragraph-Font, #767676);
margin-top: 65px;
}
.cv_icon {
width: 16.5px;
height: 18.001px;
fill: var(--Paragraph-Font, #767676);
}
.Portfolio_icon {
    width: 15px;
height: 15px;
fill: var(--Paragraph-Font, #767676);
}
.blog_icon {
    width: 18px;
height: 18px;
flex-shrink: 0;
fill: var(--Paragraph-Font, #767676);
}
.Contrast_icon {
 width: 15px;
height: 14.625px;
fill: var(--Paragraph-Font, #767676);
}